
body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #0a417a;
    color: white;
}
.form-container {
    margin-top: 50px;
}
.footer {
    background-color: #d7dbe2;
    color: #5a5a5a;
    text-align: left;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.btn-primary {
    background-color: #0a417a;
    border-color: #0a417a;
}
